div#avg2 {
    height: 50px;
    width: 100%;
    margin: 10px 0px;
    text-align: center;
    font-size: 2em;
    color: white;
    text-transform: capitalize;
}

div#avg2 > div {
	height: 100%;
	float: left;
	width: 0px;
	transition: width 1s;
    -webkit-transition: width 1s;
}
   
.ganttNumber{
	position:absolute;
    font-size: 1.7em;
    color: darkblue;
 }

div#temp{
  font-size: 1.7em;
    text-align: center;
  
}
div#temp1{
  font-size: 1.7em;
    text-align: center;
}

.frametable
{
    border-collapse: separate;
    border: 1px solid black;
    width: 40px;
    display: inline-table;
    margin-left: 15px;
}

.listitems
{
    display: block;
    height: 40px;
    text-align: -webkit-left;
    font-size: 1.5em;
    margin:5px 0px 0px 20px;
}