div#avg2 {
    height: 50px;
    width: 100%;
    margin: 10px 0px;
    text-align: center;
    font-size: 2em;
    color: white;
    text-transform: capitalize;
}

div#avg2 > div,div#avg3>div {
	height: 100%;
	float: left;
	width: 0px;
	transition: width 1s;
    -webkit-transition: width 1s;
}

div#avg3
{
    font-size: 1.5em;
    font-weight: bold;
}

label.brand-text{
    display: none;
}

@media print {
    body {
        font-size: 1.5em;
        -webkit-print-color-adjust: exact; 
    }
    label.brand-text {
        font-size: 2em;
        border-bottom: solid 2px orange;
        display: block;
        text-align: center;
    }
    div.nav-wrapper{
        display: none;
    }
    table {
        width: 100%;
        display: table;
        margin-bottom: 10pt;
    }
    input {
        font-size: 1em;
    }
    input#n {
        margin: 0px;
        font-size: 20pt;
    }
    .btn {
        display: none;
    }
    div#avg2{
        margin-top: 15pt;
        height: 75px;
    }
    #temp{
        margin-top: 15pt;
    }
    div#avg3{
        display: block;
        padding: 0px;
    }
    div.sim5{
        font-size: 25pt;
    }
}

.ganttNumber{
	position:absolute;
    font-size: 1.7em;
    color: darkblue;
 }

div#temp{
    font-size: 1.7em; 
}
div#temp1{
  font-size: 1.7em;
    text-align: center;
}

.frametable
{
    border-collapse: separate;
    border: 1px solid black;
    width: 40px;
    display: inline-table;
    margin-left: 15px;
}

.listitems
{
    display: block;
    height: 40px;
    text-align: -webkit-left;
    font-size: 1.5em;
    margin:5px 0px 0px 20px;
}